@font-face {
    font-family: Torus;
    font-weight: 100;
    src: url(../assets/Torus-Thin.otf);
}

@font-face {
    font-family: Torus;
    font-weight: 600;
    src: url(../assets/Torus-SemiBold.otf);
}

@font-face {
    font-family: Torus;
    font-weight: 700;
    src: url(../assets/Torus-SemiBold.otf);
}

@font-face {
    font-family: Torus;
    font-weight: 400;
    src: url(../assets/Torus-Regular.otf);
}

@font-face {
    font-family: Torus;
    font-weight: 300;
    src: url(../assets/Torus-Light.otf);
}

@font-face {
    font-family: Torus;
    font-weight: 900;
    src: url(../assets/Torus-Heavy.otf);
}

@font-face {
    font-family: Torus;
    font-weight: 800;
    src: url(../assets/Torus-Bold.otf);
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    background: #000;
}

button {
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    background: none;
    color: #fff;
    cursor: pointer;
    width: 40px;
    height: 40px;
    font: 14px Torus;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

body > * {
    position: fixed;
}

#speed,
#control,
#title {
    background: rgba(0, 0, 0, 0.6);
    display: none;
}

body.h #speed,
body.h #control,
body.h #title,
body.h {
    display: block;
}

#container {
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#play {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 50vmin;
    text-shadow: 0 0 0.05em #000;
    opacity: 0;
}

#play.e {
    opacity: 0.6;
}

#control {
    bottom: 0;
    left: 0;
    width: 100%;
}

input {
    margin: 4px;
    padding: 0;
    height: 32px;
    box-sizing: border-box;
}

#progress {
    width: calc(100% - 270px);
}

#volume {
    width: 100px;
}

#toggleChat {
    width: 34px;
}

#addBeatmapset {
    width: 34px;
}

#downloadBeatmapset {
    width: 34px;
}

#addBeatmapsetInput {
    display: none;
}

#title {
    top: 0;
    left: 0;
    width: 100%;
    white-space: nowrap;
}

img {
    vertical-align: middle;
    position: relative;
    border: 0;
    top: -1px;
    padding: 0 10px;
}

a {
    font: 14px/40px Torus;
    border-bottom: 1px dashed transparent;
    color: #fff;
    text-decoration: none;
}

a:hover {
    border-bottom-color: #ddd;
}

#share {
    position: absolute;
    top: 0;
    right: 0;
}

#sharePrompt {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.6);
    display: none;
}

#sharePrompt button {
    float: right;
    background: #49f;
}

#sharePrompt input {
    width: 100%;
    margin: 0;
}

#fullscreen {
    position: absolute;
    top: 0;
    right: 0;
}

#chat-container {
    font-family: Torus;
    position: absolute;
    z-index: 9;
    background-color: rgb(47, 47, 47);
    border: 1px solid #d3d3d3;
    width: 25%;
    max-height: 60%;
    color: #fff;
    overflow-y: scroll;
}

#chat-container > p {
    margin: 0.25em;
    padding: 0;
}

.chat-container-hide {
    display: none;
}

#chat-container-header {
    position: sticky;
    top: 0;
    text-align: center;
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #004b89;
    font-weight: bold;
}
